/* Header */

.header {
    border-bottom: 1px solid #0e0e0e;
}
@media screen and (max-width: 942px) {
    .large-screen-header-container {
        display: none !important;
    }
}
@media screen and (min-width: 942px) {
    .small-screen-header-container {
        display: none !important;
    }
}

/* Large Screen Header */

.large-screen-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 60px;
    background-color: #f4f4f4;
}
.large-screen-header-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
@media screen and (max-width: 1200px)
{
    .large-screen-header-column {
        gap: 20px;
    }
    .large-screen-header-nav {
        gap: 30px !important;
    }
}
.large-screen-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
}
.large-screen-header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.large-screen-header-nav li {
    list-style-type: none;
    margin: 0;
}
.large-screen-header-nav li a, .large-screen-header-products-btn span {
    padding: 0 3px;
    transition: background 0.3s;
}
.large-screen-header-nav li a:hover, .large-screen-header-products-btn span:hover {
    background: linear-gradient(to left, rgba(158, 103, 255, 0.4) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: -100%;
}
.large-screen-header-nav li a {
    color: #0e0e0e;
    text-decoration: none;
}
.large-screen-header-logo {
    width: auto;
    height: 80px;
    margin: -20px -30px;
}
.large-screen-header-dropdown-wrapper {
    position: relative;
    display: inline-block;
}
.large-screen-header-products-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}
.large-screen-header-dropdown-trigger {
    display: block;
    padding: 21px 0;
}
.large-screen-header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    min-width: 500px;
    z-index: 1;
    border: 1px solid #0e0e0e;
    padding: 50px;
    flex-direction: column;
    top: 100%;
    left: 0;
    gap: 50px;
}
@media screen and (max-width: 1200px){
    .large-screen-header-dropdown-content {
        min-width: 400px;
        padding: 40px;
        gap: 40px;
    }
}
.large-screen-header-dropdown-content a {
    text-decoration: none;
    color: #0e0e0e;
}
.large-screen-header-dropdown-content-row:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.large-screen-header-dropdown-content-row:first-child a {
    padding: 0 3px;
    transition: background 0.3s;
}
.large-screen-header-dropdown-content-row:first-child a:hover {
    background: linear-gradient(to left, rgba(158, 103, 255, 0.4) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: -100%;
}
.large-screen-header-dropdown-wrapper:hover .large-screen-header-dropdown-content {
    display: flex;
}
.large-screen-header-dropdown-content-row:last-child a {
    color: #f4f4f4;
}

/* Small Screen Header */

.small-screen-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 60px;
    background-color: #f4f4f4;
}
.small-screen-header-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.small-screen-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
.small-screen-header-logo {
    width: auto;
    height: 80px;
    margin: -20px -30px;
}
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease;
    padding: 15px 10px;
    border-radius: 50%;
    z-index: 9998;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #0e0e0e;
    border-radius: 2px;
    transition: transform 0.3s ease;
}
@media screen and (max-width: 448px) {
    .small-screen-header-row:last-child div:last-child {
        display: none;
    }
}
.hamburger-menu, .small-screen-hamburger-menu {
    position: absolute;
    top: -100%;
    left: 0;
    transition: top 0.5s ease;
    z-index: 9997;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hamburger-menu.active, .small-screen-hamburger-menu.active {
    top: 0;
}
.hamburger-container {
    display: flex;
    align-items: center;
}
.hamburger-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    transition: transform 0.3s ease;
    padding: 15px 14px;
    border-radius: 50%;
    z-index: 9998;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #0e0e0e;
    border-radius: 1px;
    transition: transform 0.3s ease;
}
.hamburger-btn:hover {
    background-color: #0e0e0e;
}
.hamburger-btn:hover .bar {
    background-color: #f4f4f4;
}
.bar:nth-child(1) {
    transform-origin: top left;
}
.bar:nth-child(2) {
    transform-origin: center;
}
.bar:nth-child(3) {
    transform-origin: bottom left;
}
.hamburger-btn.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(3px, -3px);
    background-color: #f4f4f4;
}
.hamburger-btn.active .bar:nth-child(2) {
    transform: scaleX(0);
}
.hamburger-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(3px, 3px);
    background-color: #f4f4f4;
}
.hamburger-btn.active:hover {
    background-color: #f4f4f4;
}
.hamburger-btn.active:hover .bar:nth-child(3),
.hamburger-btn.active:hover .bar:nth-child(1){
    background-color: #0e0e0e;
}
.hamburger-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #0e0e0e;
    padding: 0 2%;
    gap: 30px;
    overflow: hidden;
}
.hamburger-nav {
    padding-top: 2%;
}
.hamburger-nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hamburger-nav ul li {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}
.hamburger-nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 500;
}
.hamburger-nav ul li a:hover {
    color: #a7a7a7;
}
.hamburger-sub-nav {
    color: #a7a7a7;
    padding-bottom: 2%;
}
.hamburger-sub-nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-sub-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.hamburger-sub-nav ul li {
    margin: 0;
    padding: 0;
}
.hamburger-sub-nav ul li a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 500;
}
.hamburger-sub-nav ul li a:hover {
    color: #878787;
}
.hamburger-legal-nav-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.hamburger-legal-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hamburger-legal-nav p {
    font-family: "Montserrat", sans-serif;
    color: #878787;
    font-size: 11px;
    text-align: center;
}
.hamburger-legal-nav i {
    color: #878787;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .hamburger-sub-nav nav ul {
        flex-direction: column;
    }
    .header .bullet {
        display: none;
    }
}