/* Header */

.header {
    border-bottom: 1px solid #000000;
}
@media screen and (max-width: 942px) {
    .large-screen-header-container {
        display: none !important;
    }
}
@media screen and (min-width: 942px) {
    .small-screen-header-container {
        display: none !important;
    }
}

/* Large Screen Header */

.large-screen-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 60px;
    background-color: #ffffff;
}
.large-screen-header-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}
@media screen and (max-width: 1200px)
{
    .large-screen-header-column {
        gap: 20px;
    }
    .large-screen-header-nav {
        gap: 30px !important;
    }
}
.large-screen-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
}
.large-screen-header-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.large-screen-header-nav li {
    list-style-type: none;
    margin: 0;
}
.large-screen-header-nav li a, .large-screen-header-products-btn span {
    padding: 0 3px;
    transition: background 0.3s;
}
.large-screen-header-nav li a:hover, .large-screen-header-products-btn span:hover {
    background: linear-gradient(to left, rgba(158, 103, 255, 0.4) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: -100%;
}
.large-screen-header-nav li a {
    color: #000000;
    text-decoration: none;
}
.large-screen-header-logo {
    width: auto;
    height: 80px;
    margin: -20px -30px;
}
.large-screen-header-dropdown-wrapper {
    position: relative;
    display: inline-block;
}
.large-screen-header-products-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}
.large-screen-header-dropdown-trigger {
    display: block;
    padding: 21px 0;
}
.large-screen-header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 500px;
    z-index: 1;
    border: 1px solid #000000;
    padding: 50px;
    flex-direction: column;
    top: 100%;
    left: 0;
    gap: 50px;
}
@media screen and (max-width: 1200px){
    .large-screen-header-dropdown-content {
        min-width: 400px;
        padding: 40px;
        gap: 40px;
    }
}
.large-screen-header-dropdown-content a {
    text-decoration: none;
    color: #000000;
}
.large-screen-header-dropdown-content-row:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.large-screen-header-dropdown-content-row:first-child a {
    padding: 0 3px;
    transition: background 0.3s;
}
.large-screen-header-dropdown-content-row:first-child a:hover {
    background: linear-gradient(to left, rgba(158, 103, 255, 0.4) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: -100%;
}
.large-screen-header-dropdown-wrapper:hover .large-screen-header-dropdown-content {
    display: flex;
}
.large-screen-header-dropdown-content-row:last-child a {
    color: #ffffff;
}

/* Small Screen Header */

.small-screen-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 60px;
    background-color: #ffffff;
}
.small-screen-header-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.small-screen-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
}
.small-screen-header-logo {
    width: auto;
    height: 80px;
    margin: -20px -30px;
}
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease;
    padding: 15px 10px;
    border-radius: 50%;
    z-index: 9998;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
    transition: transform 0.3s ease;
}
@media screen and (max-width: 448px) {
    .small-screen-header-row:last-child div:last-child {
        display: none;
    }
}
.hamburger-menu, .small-screen-hamburger-menu {
    position: absolute;
    top: -100%;
    left: 0;
    transition: top 0.5s ease;
    z-index: 9997;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.hamburger-menu.active, .small-screen-hamburger-menu.active {
    top: 0;
}
.hamburger-container {
    display: flex;
    align-items: center;
}
.hamburger-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    transition: transform 0.3s ease;
    padding: 15px 14px;
    border-radius: 50%;
    z-index: 9998;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    border-radius: 1px;
    transition: transform 0.3s ease;
}
.hamburger-btn:hover {
    background-color: #000000;
}
.hamburger-btn:hover .bar {
    background-color: #ffffff;
}
.bar:nth-child(1) {
    transform-origin: top left;
}
.bar:nth-child(2) {
    transform-origin: center;
}
.bar:nth-child(3) {
    transform-origin: bottom left;
}
.hamburger-btn.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(3px, -3px);
    background-color: #000000;
}
.hamburger-btn.active .bar:nth-child(2) {
    transform: scaleX(0);
}
.hamburger-btn.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(3px, 3px);
    background-color: #000000;
}
.hamburger-btn.active:hover {
    background-color: #000000;
}
.hamburger-btn.active:hover .bar:nth-child(3),
.hamburger-btn.active:hover .bar:nth-child(1){
    background-color: #ffffff;
}
.hamburger-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
    padding: 0 2%;
    gap: 30px;
    overflow: hidden;
}
.small-screen-hamburger-logo {
    width: auto;
    height: 80px;
    margin: -20px 0;
}
.hamburger-nav {
    padding-top: 2%;
}
.hamburger-nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hamburger-nav ul li {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}
.hamburger-nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    padding: 0 3px;
    transition: background 0.3s;
}
.hamburger-nav ul li a:hover {
    background: linear-gradient(to left, rgba(158, 103, 255, 0.4) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: -100%;
}
.hamburger-sub-nav {
    color: #a7a7a7;
    padding-bottom: 2%;
}
.hamburger-sub-nav nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-sub-nav nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.hamburger-sub-nav ul li {
    margin: 0;
    padding: 0;
}
.hamburger-sub-nav ul li a {
    text-decoration: none;
    color: #a7a7a7;
    font-weight: 400;
}
.hamburger-sub-nav ul li a:hover {
    color: #878787;
}
.hamburger-legal-nav-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.hamburger-legal-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hamburger-legal-nav p {
    font-family: "Montserrat", sans-serif;
    color: #878787;
    font-size: 11px;
    text-align: center;
}
.hamburger-legal-nav i {
    color: #878787;
    font-size: 20px;
}
@media screen and (max-width: 512px) {
    .hamburger-sub-nav nav ul {
        flex-direction: column;
    }
    .header .bullet {
        display: none;
    }
}

/* Footer */

.footer-container {
    margin: 0 5%;
    padding: 7%;
    background-color: #303132;
}
.footer-wrapper {
    padding: 0 4%;
    flex-wrap: wrap;
}
.footer-wrapper:first-child {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.footer-column h1 {
    color: #ffffff;
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-column ul li {
    margin: 0;
    padding: 0;
}
.footer-column ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 0.9em;
}
.footer hr {
    border: none;
    border-top: 1px solid #f4f4f4;
    margin-top: 6%;
    margin-bottom: 3%;
}
.footer-wrapper:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.footer-wrapper:last-child .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.footer-wrapper:last-child .footer-row .footer-column, .footer-wrapper:last-child .footer-row .footer-column ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.footer-social-icon {
    cursor: pointer;
}
.footer-social-icon a {
    transition: color 0.3s;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.footer-social-icon a:hover {
    color: #878787;
}
.footer a:hover {
    color: #878787;
}
.footer .bullet {
    color: #f4f4f4;
}
.footer-row:last-child .footer-column:first-child ul {
    gap: 10px;
}
.footer-row:last-child .footer-column:first-child ul li a {
    font-size: 0.8em;
}
.footer-column:last-child p {
    color: #f4f4f4;
    font-size: 0.8em;
}
.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    color: #f4f4f4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    transition: background-color 0.3s;
}
.language-selector:hover {
    background-color: hsl(0, 0%, 26%);
}
@media screen and (max-width: 700px)
{
    .footer-wrapper:last-child .footer-row:last-child {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .footer-wrapper:last-child ul {
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
    .footer-wrapper:last-child ul .bullet {
        display: none;
    }
}

/* Home (index.js) */

.home-masthead {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}
.home-masthead h1 {
    font-weight: 500;
    font-size: 3.5em;
}
.home-masthead-column:first-child {
    flex-basis: 50%;
}
.home-masthead img {
    width: 500px;
    height: auto;
    margin-bottom: -4px; /* Specific to the current road image */
}
.home-masthead-column:first-child .home-masthead-row:last-child
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
@media screen and (max-width: 1071px)
{
    .home-masthead img {
        display: none;
    }
    .home-masthead {
        justify-content: unset;
        gap: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-masthead h1 {
        font-size: clamp(48px,7vw,84px);
    }
    .home-masthead-column {
        flex-basis: unset !important;
    }
    .home-masthead .btn-1, .home-masthead .btn-2 {
        width: 100%;
    }
    .home-masthead-column:first-child .home-masthead-row:last-child {
        flex-direction: column;
        gap: 20px;
    }
    .home-masthead-column:first-child .home-masthead-row:last-child div {
        width: 100%;
    }
}

/* Home Banner 1 */

.home-banner-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    height: 250px;
    background-color: rgba(158, 103, 255, 0.5);
    padding: 0 10%;
}
.home-banner-1 img {
    height: auto;
    width: 500px;
    text-align: right;
}
.home-banner-1 h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
@media screen and (max-width: 1181px)
{
    .home-banner-1 {
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-banner-1 img {
        text-align: center;
    }
}
@media screen and (max-width: 768px)
{
    .home-banner-1 {
        padding: 30px 10px;
    }
    .home-banner-1 img {
        width: 300px;
    }
    .home-banner-1 h2 {
        font-size: 2em;
    }
}

/* Home Instructions */

.home-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.home-instructions-title {
    padding: 50px 30px;
}
.home-instructions-title h1 {
    font-size: 3em;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
.home-instructions-title p {
    font-size: 1.4em;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.home-instructions-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-instructions-content-column {
    border: 1px solid #000000;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-instructions-content-column:first-child {
    border-left: none;
}
.home-instructions-content-column:nth-child(2) {
    border-left: none;
    border-right: none;
}
.home-instructions-content-column:last-child {
    border-right: none;
}
.home-instructions-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
    padding: 50px 20px;
    height: 300px;
}
.home-instructions-content-column div span {
    color: #ffffff;
    background-color: #9e67ff;
    padding: 3px 10px;
    font-size: 1.8em;
    font-weight: 500;
}
.home-instructions-content-column div h2 {
    margin-bottom: 10px;
}
.home-instructions-content-column div p {
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
.home-instructions-content-column div i {
    font-size: 100px;
    color: #000000;
}
@media screen and (max-width: 780px)
{
    .home-instructions-content-column:first-child {
        border-left: none;
        border-right: none;
    }
    .home-instructions-content-column:nth-child(2) {
        border: none;
    }
    .home-instructions-content-column:last-child {
        border-right: none;
        border-left: none;
    }
    .home-instructions-title h1 {
        font-size: 2.5em;
    }
    .home-instructions-title p {
        font-size: 1.1em;
    }
    .home-instructions-content {
        flex-direction: column;
    }
    .home-instructions-content-column {
        width: 100%;
        min-height: 330px;
        max-height: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-instructions-content-item {
        padding: 40px 20px;
        gap: 40px;
        height: fit-content;
    }
    .home-instructions-content-column div span {
        font-size: 1.5em;
    }
    .home-instructions-content-column div h2 {
        font-size: 2em;
    }
    .home-instructions-content-column div p {
        font-size: 1.1em;
    }
    .home-instructions-content-column div i {
        font-size: 80px;
    }
}

/* Home Banner 2 */

.home-banner-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    height: 250px;
    background-color: rgba(158, 103, 255, 0.5);
    padding: 0 10%;
}
.home-banner-2 img {
    height: auto;
    width: 500px;
    text-align: left;
}
.home-banner-2 h2 {
    font-size: 2.5em;
    font-weight: 500;
    color: #000000;
    margin: 0;
    text-align: right;
}
@media screen and (max-width: 1181px)
{
    .home-banner-2 {
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-banner-2 img {
        text-align: center;
    }
    .home-banner-2 h2 {
        text-align: center;
    }
}
@media screen and (max-width: 768px)
{
    .home-banner-2 {
        padding: 30px 10px;
    }
    .home-banner-2 img {
        width: 300px;
    }
    .home-banner-2 h2 {
        font-size: 2em;
    }
}

/* Miscellaneous */

.coming-soon {
    padding: 0;
    background-color: #67FF9E;
    width: fit-content;
    margin-bottom: -20px;
    font-family: "Sometype Mono", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}